/* Fix for perfect alignment */
.typing {
  display: inline-block;
  vertical-align: middle;   /* keeps same height as text */
  
  /* FORCE same height + baseline alignment */
  font-size: inherit;
  line-height: 1em;
  height: 1em;

  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #3c7dddd3;

  animation: typing 1.5s steps(12) forwards, blink 0.7s step-end infinite;
}

/* "Shankar Das" = 12 characters */
@keyframes typing {
  from { width: 0; }
  to   { width: 12ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}




.nav-link.active {
  color: #ffffff !important;  /* Bootstrap primary blue */
  font-weight: 600;
}

/*About*/
.text-custom {
  color: #000000 !important; /* change to any color you want */
  
}

.skill-card {
  background: linear-gradient(135deg, #a3a3a85c, #cfe0ffd1); /* Purple → Blue */
  color: rgb(4, 4, 4);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.skill-card i {
  color: #fff 
}



.footer-link {
    text-decoration: none;
    transition: 0.3s ease;
  }
  .footer-link:hover {
    color: #e3eefe; /* Bootstrap primary color */
  }





