 body{
      background:#0b141a;
      color:#e5e7eb;
      font-family: 'Segoe UI', sans-serif;
    }

    .navbar{
      background:#0b141a;
    }

    .hero{
      min-height:100vh;
      display:flex;
      align-items:center;
    }

    .hero h1 span{
      color:#0d6efd;
    }

    .hero p{
      color:#9ca3af;
    }

    .btn-main{
      background:#0d6efd;
      border:none;
      padding:12px 30px;
      border-radius:30px;
    }

    .btn-outline{
      border:1px solid #0d6efd;
      color:#0d6efd;
      padding:12px 30px;
      border-radius:30px;
    }

    .profile-img{
      border-radius:20px;
      box-shadow:0 20px 50px rgba(0,0,0,0.6);
    }

    .badge-box{
      background:#111827;
      padding:10px 15px;
      border-radius:12px;
      display:inline-flex;
      align-items:center;
      gap:8px;
      position:absolute;
      color:#0d6efd;
      font-size:14px;
    }